extends _template

block body
    .container
        .grid
            .col-2
                .card-stat
                    .card-title Uptime
                    .card-content #{Math.floor(discord.uptime / 1000)} seconds

            .col-2
                .card-stat
                    .card-title Servers
                    .card-content #{guilds.length}

            .col-2
                .card-stat
                    .card-title Messages Cached
                    .card-content 0

            .col-2
                .card-stat
                    .card-title Messages Learned
                    .card-content 0

            .col-2
                .card-stat
                    .card-title Users Cached
                    .card-content 0
        .grid
            .col-4
                .card
                    .card-title Guilds
                    .card-content
                        table
                            tr
                                th Guild Name
                                th User Count
                            each server in guilds
                                tr
                                    td=server.name
                                    td=server.memberCount
        .grid
            .col-4
                .card
                    .card-title Contributions
                    .card-content
                        h4 Big love for the homies making alfredo the best he can be
                        table
                            tr
                                th Name
                                th Amount
                                th Date
                            tr
                                td D'squavious
                                td $5.00
                                td Jan 3rd 2021
                            tr
                                td Tanskii
                                td $5.00
                                td Jan 3rd 2021
                            tr
                                td Father
                                td $0.20
                                td Jan 3rd 2021